# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Generated solution / IDE files
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.unityproj
.vs/
.vscode/
.idea/

# Unity 3D Builds artifacts
*.apk
*.aab
*.unitypackage

# Mac
.DS_Store
